*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sarabun', sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #191a28;
  padding-bottom: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

:root {
  --easing-smooth: cubic-bezier(0.19, 1, 0.22, 1);
  --red: #EA445A;
}
